<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .logo{
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;
        }
        .menu{
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
        }
        ul li {
            list-style: none;
        }
        ul li a{
            color: #fff;
            background-color: #ff0000;
            padding: 10px 30px;
            border-radius: 15px;
        
        }
        ul li a:hover{
            background-color: #CF2525;
            padding: 10px 30px;
            color: #fff;
            text-decoration: none;
        }
        header{
            background-color: antiquewhite;
        }
        .welcome{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: wheat;
            padding: 100px;
            margin-top: 100px;
        }

        form{
            margin-top: 50px;
            padding: 40px;
            justify-content: center;
        }
       
        
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <h1>Logo</h1>
                    </div>
                </div>
                <div class="col-md-8">
                        <nav>
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/products">Products</a></li>
                                <li><a href="/add-products">Add Products</a></li>
                                <li><a href="/signin">Signin</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </nav>
                </div>
            </div>
          </div>
      </header> 

      <div class="container">
           <div class="col-md-2"></div>
           <div class="col-md-8">
            <div class="form">
                <form action="/signin" class="card" method="POST">
                    <h3>Signin</h3>
                      <div class="form-group">
                          <input type="text" class="name form-control"  id="name" placeholder="UserName" name="name" />
                      </div>
                      <div class="form-group">
                          <input type="email" class="email form-control"  id="email" placeholder="Email Address" name="email"/>
                      </div>
                      <div class="form-group">
                          <input type="password" class="password form-control"  id="password" placeholder="Password" name="password"/>
                      </div>
                      <div class="form-group">
                          <input type="password" class="password2 form-control"  id="password2" placeholder="Confirm Password" name="password2"/>
                      </div>

                      <button type="submit" class="btn btn-success">SignIn</button>
                 </form>
            </div> 
           </div>
           <div class="col-md-2"></div>
      </div>
      
</body>
</html>